
.container {
  box-sizing: border-box;
  border-radius: 5px;
  padding: 20px;
  border: 2px solid pink;
  max-width:420px; 
  margin:50px auto;
  }
  

  .feedback-input {
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    border:2px solid pink;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 10px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }
  