.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-x: auto ;
    align-items: center;
    text-align: center;
}

.card {
  flex: 0 0 auto;
  margin-right: 1rem;
}

.list-name {
    font-size: 3rem;
    width: 100%;
  }
  
  .container ul {
    list-style: none;
  }
  .list-detalle {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }